<h1 class="text-center mt-4"> <%= @event.title %> </h1>

<div class="container p-3">
  <div class="row mt-2">
    <div class= "col-2">
      Description :
    </div>
    <div class= "col-10">
      <%= @event.description %>
    </div>
  </div>

  <div class="row mt-2">
    <div class= "col-2">
      Status :
    </div>
    <div class= "col-10">
      <%= @event.status %>
    </div>
  </div>

  <div class="row mt-2">
    <div class= "col-2">
      Resolved :
    </div>
    <div class= "col-10">
      <%= @event.is_resolved? %>
    </div>
  </div>

  <% if @event.resolved %>
    <div class="row mt-2">
      <div class= "col-2">
        Resolved by :
      </div>
      <div class= "col-10">
        <%= User.find(@event.resolved_by).username %>
      </div>
    </div>

    <div class="row mt-2">
      <div class= "col-2">
        Resolved at :
      </div>
      <div class= "col-10">
        <%= @event.resolved_at.to_date %>
      </div>
    </div>
  <% end %>

  <div class="row mt-2">
    <div class= "col-2">
      Active from :
    </div>
    <div class= "col-10">
      <%= @event.active_from.to_date %>
    </div>
  </div>

  <div class="row mt-2">
    <div class= "col-2">
      Active To :
    </div>
    <div class= "col-10">
      <%= @event.active_to.to_date %>
    </div>
  </div>

  <div class="row mt-2">
    <div class= "col-2">
      Last Updated :
    </div>
    <div class= "col-10">
      <%= @event.updated_at.to_date %>
    </div>
  </div>
</div>

<div class="row justify-content-center"> 
  <%= link_to 'Back', events_path, class: "btn btn-outline-secondary mx-2 btn-sm my-2 col-1" %>
  <%= link_to 'New Comment', new_event_comment_path(@event.id), class: "btn btn-outline-primary mx-2 btn-sm my-2 col-1" %>
</div>


<% if @event.comments.present? %>
  <div class="container p-3">
  <%= render "events/partials/comment_section", comments: @event.comments %>
  </div>
<% end %>
